botocore==1.38.18
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
graphviz==0.20.3
jmespath==1.0.1
joblib==1.5.0
kiwisolver==1.4.5
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pandas==2.2.3
pillow==10.3.0
pygame==2.6.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
six==1.16.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
urllib3==2.4.0
